@use 'bootstrap/scss/bootstrap';

* {
  --bs-info: #305CDE;
  // --bs-border-radius: 0;
  // --bs-border-radius-sm: 0;
  // --bs-border-radius-lg: 0;
  // --bs-border-radius-xl: 0;
  // --bs-border-radius-xxl: 0;
  // --bs-border-radius-2xl: 0;
  // --bs-border-radius-pill: 0;

  --bs-primary: #305CDE;
  --bs-primary-rgb: 48,92,222;
  --bs-beige: #F4F4F4;
}

.btn {
}

body {
  background-color: #fff;
}

.card-header {
  letter-spacing: 0.02em;
}

.app-container {
  width: 100%;
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
}
